<div class="new-bitbloq-banner">
    <div class="new-bitbloq-left">
        <img
            class="new-bitbloq-logo"
            src="../../images/banners/new-bitbloq.svg"
            alt=""
        />
        <div class="new-bitbloq-message">
            <h3>Vente al nuevo Bitbloq</h3>
            <p>Más funcionalidades y nuevas herramientas. ¡Te esperamos!</p>
        </div>
    </div>
    <div class="new-bitbloq-right">
        <a class="new-bitbloq-button" href="https://bitbloq.cc"
            >Ir al nuevo Bitbloq</a
        >
    </div>
</div>
<div class="new-bitbloq-ruler" />
